@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

body {
    background-image: url("https://i.imgur.com/mN8Jrve.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.homepageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.headline {
    background-color: 	rgb(192,192,192, .5);
    border: 1px outset black;
    padding: 10em;
    margin-top: 4em;
    border-radius: 8px;
    text-align: center;
    margin: 25px;
    font-family: "Righteous", cursive;
}

.subHeadline {
    background-color: 	rgb(192,192,192, .5);
    border: 1px outset black;
    padding: 4em;
    margin-top: 4em;
    border-radius: 8px;
    text-align: center;
    font-family: "Righteous", cursive;
}

.callToAction {
    text-align: center;
    margin-top: 4em;
    font-family: "Righteous", cursive;
}

/* Main styles */
.text {
	 fill: none;
	 stroke-width: 1;
	 stroke-linejoin: round;
	 stroke-dasharray: 70 330;
	 stroke-dashoffset: 0;
	 -webkit-animation: stroke 6s infinite linear;
	 animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
	 stroke: #fffc00;
	 -webkit-animation-delay: -1.2s;
	 animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
	 stroke: #fc00ff;
	 -webkit-animation-delay: -2.4s;
	 animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
	 stroke: #00fffc;
	 -webkit-animation-delay: -3.6s;
	 animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
	 stroke: #fc00ff;
	 -webkit-animation-delay: -4.8s;
	 animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
	 stroke: #00fffc;
	 -webkit-animation-delay: -6s;
	 animation-delay: -6s;
}
@-webkit-keyframes stroke {
	 100% {
		 stroke-dashoffset: -400;
	}
}
@keyframes stroke {
	 100% {
		 stroke-dashoffset: -400;
	}
}
/* Other styles */
html, .homepageContainer {
	 /* height: 100%; */
}
.homepageContainer {
	 /* background: #111; */
	 /* background-size: 0.2em 100%; */
	 font: .5em Open Sans, Impact;
	 text-transform: uppercase;
	 margin: 0;
}
svg {
	 /* position: absolute; */
	 width: 100%;
	 height: 60%;
}
 